<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value ="smtp.gmail.com"/>
		<add key="Port" value ="587"/>
		<add key="EnableSsl" value ="true"/>
		<add key="SenderName" value =" "/>
		<add key="SenderEmail" value =""/>
		<add key="SenderEmailPassword" value ="encrypt:"/>
		<add key="ReceiverEmail" value =""/>
		<add key="SendHour" value ="8"/>
		<add key="IntervalInMinutes" value ="30"/>
		<add key="ShouldISendReports" value ="true"/>
	</appSettings>
</configuration>