<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
  <add key="HostSmtp" value="smtp.gmail.com" />
  <add key="Port" value="587" />
  <add key="EnableSsl" value="true" />
  <add key="SenderName" value="Wiktor Ziębka" />
  <add key="SenderEmail" value="slavic.financials@gmail.com" />
  <add key="SenderEmailPassword" value="yKmvLYbeMbiNRlFz8pToa8RW84KcOHXx2dQdBBhjXbrTer+KjQ0DJbeWWxfbexydT4q9bOZx664FM0clq5SwvVKhMBqRFjx7aPYUDMs3IpxAmiwhu9nmRpAa0F049p49" />
  <add key="ReceiverEmail" value="haloalodziendobry12@gmail.com" />
  <add key="SendHour" value="8" />
  <add key="IntervalInMinutes" value="1" />
  <add key="ShouldISendReports" value="false" />
 </appSettings>
</configuration>